#skin-switch-container {
    display: block; /* Make sure it's visible */
    position: fixed; /* Fixed position to keep it in view */
    top: 15px; /* Adjust this value as needed */
    right: 15px; /* Adjust this value as needed */
    margin: 0;
    padding: 10px;
    text-align: center;
    background: $table-header-bg-color;
    border-radius: 5px;
    font-size: 0.8rem;
    z-index: 1000; /* Ensure it's above other content */

    select {
        margin: 0 2px;
        padding: 5px 2px;
        text-align: center;
        font-size: 0.8rem;
        border-radius: 5px;
        &:focus-visible {
            outline: none;
        }
    }
}

select {
    color: $table-text-color;
    background: $table-header-bg-color;
    &::before {
        border-color: transparent transparent $table-header-bg-color;
    }
}

$content-width: max(25%, 950px);

p.post-meta {
    margin-bottom: 0px;
}

img.post-thumbnail {
    width: 150px;
    height: 150px;
    background-size: 500%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-color: #ffffff;
}

td.thumbnail-column {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

td.content-column {
    border: none;
}

a.post-link {
    font-size: 16px;
}

.post-footer {
    display: flex;
    gap: 10px; /* Optional: Adjust spacing between links */
    flex-wrap: wrap; /* Optional: Allows links to wrap to the next line if there’s not enough space */
}

td.link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

table.link-table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

table.link-table td {
    border: none;
    padding: 10px 0px;
}

tr.link-row {
    background-color: transparent !important;
}

h2.section-header {
    font-weight: 700;
}

td.link-icon td.link-name {
    padding: 0px !important;
}
